<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Edit Post')"></head>
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

<div th:if="${post}">
    <p th:text="${post.id}"></p>
    <p th:text="${post.body}"></p>
</div>

<div th:if="${post}">

    <fieldset>
        <form th:action="@{/post/edit-post}" method="POST">
            <input th:value="${post.body}" name="body">
                        <input type="hidden" th:value="*{post.id}" name="postId">
<!--                        <input type="hidden" th:value="${post.user.id}">-->
            <input type="submit" class="btn-primary">
        </form>
    </fieldset>

<!--    <fieldset>-->
<!--        <form th:action="@{/post/edit-post}" th:method="POST" th:object="${post}">-->
<!--            <input th:field="*{body}">-->
<!--&lt;!&ndash;            <input type="hidden" th:field="">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" th:field="">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" th:field="*{id}">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" th:field="*{user.id}">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="hidden" th:field="*{creationDate}" name="date">&ndash;&gt;-->
<!--            <input type="submit" class="btn-primary">-->
<!--        </form>-->
<!--    </fieldset>-->
</div>


<!--partials needed on every page-->
<footer th:replace="partials/partials.html :: footer"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>