<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Landing Page')">
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<!--header-->

<iframe
        width="760" height="515"
        src="https://www.youtube.com/embed/mUNYh_L250M?autoplay=1&mute=1&enablejsapi=1"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>

<div class="container-fluid">
    <div id="search-results" class="d-flex flex-row flex-wrap justify-content-center"></div>
</div>

<!--display all Posts info-->
<div th:if="${posts}">
    <div th:each="post : ${posts}">
        <p th:text="'Post #' + ${post.id}"></p>
        <p th:text="'Likes: ' + ${post.usersThatLiked.size()}"></p>
        <p th:text="${post.creationDate}"></p>

<!--        loop through list of media for a single Post-->
        <div th:each="image : ${post.postImages}">
            <img th:src="${image.url}">
        </div>

        <p th:text="${post.body}"></p>

<!--        loop through list of comments belonging to a single Post-->
        <div th:each="comment : ${post.comments}">
<!--            <p th:text="${comment.user.username}  + ' said ' + ${comment.comment}"></p>-->
            <a th:text="${comment.user.username}" th:href="'/user/' + ${comment.user.id}"></a>
            <p th:text="${comment.body}"></p>
        </div>

        <div sec:authorize="isAuthenticated()">
            <fieldset>
                <form th:action="@{/discover/comment}" th:method="POST" th:object="${newComment}">
                    <input th:field="*{body}" name="body">
                    <input type="hidden" th:value="${post.id}" name="postId">
                    <input type="submit" value="Comment">
                </form>
            </fieldset>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <fieldset>
                <form>
                    <input type="text">
                    <input type="button" onclick="redirectToLogin()" value="Comment">
                </form>
            </fieldset>
        </div>

<!--        JS button to Like a Post-->
        <div sec:authorize="isAuthenticated()">
            <div th:if="${ListPostIdLikedByUserId.contains(post.id)}">
                <button th:data="${post.id} + ',' + ${sessionUserId}" class="like-btn btn btn-primary">Like Post</button>
            </div>

            <div th:if="${!ListPostIdLikedByUserId.contains(post.id)}">
                <button th:data="${post.id} + ',' + ${sessionUserId}" class="like-btn btn btn-secondary">Like Post</button>
            </div>
        </div>


        <div sec:authorize="!isAuthenticated()">
            <button onclick="redirectToLogin()" class="btn btn-danger">Like Post</button>
        </div>

        <hr>
    </div>
</div>

<hr>

<!--display all Games info-->
<div th:if="${games}">
    <p>Top Games:</p>
    <div th:each="game : ${games}">
        <p th:text="'Likes: ' + ${game.users.size()}"></p>
<!--        <p th:text="${game.title}"></p>-->
        <a th:text="${game.title}" th:href="'/game?gameID=' + ${game.gamesApiId}"></a>
        <img th:src="${game.imageUrl}">
        <p th:text="${game.genre}"></p>
        <p th:text="${game.description}"></p>

        <hr>
    </div>
</div>

<!--footer and JS partials needed on every page-->
<footer th:replace="partials/partials.html :: footer"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>