<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html ::head (GamerHaven)"></head>
<body>
<video th:replace="partials/partials.html :: video-bg"></video>
<div th:replace="partials/partials.html :: navbar"></div>
<div class="w-100 mt-5 pt-5 justify-content-center pb-4">
    <h1 style="font-size: 60px" class="text-center">GamerHaven</h1>
    <div class="d-flex w-100 justify-content-center container-fluid">
        <div class="d-flex justify-content-around w-25">
            <a style="color: white" class="btn" href="user/register">Start Connecting</a>
            <div class="pt-1">or</div>
            <a style="color: white" class="btn" href="/login">Login here</a>
        </div>
    </div>
</div>

<div class="d-flex pt-5 w-100 justify-content-around container-fluid">
    <div class="w-25 text-center" style="background-color: rgba(0,0,0,0.43)">
        <h3 class="text-center pt-3">Connect and play</h3>


    </div>
    <div class="d-flex justify-content-center pb-5">
        <img style="width: 700px"
             src="https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/10/15/fdd8848a/promo_04.jpg">
    </div>
</div>


<div th:replace="partials/partials.html :: footer"></div>
<script th:replace="partials/partials.html :: scripts"></script>
</body>
</html>







