<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Main')">
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
</head>

<!--<div th:each="post : ${posts}">-->
<!--    <p th:text="${post.body}"></p>-->
<!--</div>-->

<!--<div th>-->
<!--    <div></div>-->
<!--</div>-->

<div th:if="${user}">
    <div th:text="${user.username}"></div>

    <div th:if="${followingPosts}">

        <div th:each="user : ${followingPosts}">
            <p th:text="'User: ' + ${user.username}"></p>
<!--            <p th:text="${user.posts[0]}"></p>-->

            <div th:each="post : ${user.posts}">
                <p th:text="'Post #' + ${post.id}"></p>
                <div th:text="${post.body}"></div>
                <div th:text="${post.creationDate}"></div>
            </div>


<!--            <p th:text="${post.creationDate}"></p>-->
<!--            <p th:text="${post.body}"></p>-->
<!--            <p th:text="'Likes: ' + ${post.usersThatLiked.size()}"></p>-->
<!--            -->
<!--            <p>Comments:</p>-->
<!--            <div th:each="comment : ${post.comments}">-->
<!--                <p th:text="${comment.user.username} + ' said: ' + ${comment.comment}"></p>-->
<!--            </div>-->

<!--            <div th:each="image : ${post.postImages}">-->
<!--                <p th:text="${image.url}"></p>-->
<!--            </div>-->

<!--            <button th:data="${post.id} + ',' + ${sessionUserId}" class="like-btn btn btn-secondary">Like Post</button>-->

            <hr>
        </div>
        <!--        <form id="like-post" action="/user/like" method="post"></form>-->
<!--        <div th:each="post : ${followingPosts}">-->
<!--            <p th:text="'Post #' + ${post.id}"></p>-->
<!--            <p th:text="${post.user.username}"></p>-->
<!--            <p th:text="${post.creationDate}"></p>-->
<!--            <p th:text="${post.body}"></p>-->
<!--            <p th:text="'Likes: ' + ${post.usersThatLiked.size()}"></p>-->
<!--            <p>Comments:</p>-->
<!--            <div th:each="comment : ${post.comments}">-->
<!--                <p th:text="${comment.user.username} + ' said: ' + ${comment.comment}"></p>-->
<!--            </div>-->

<!--            <div th:each="image : ${post.postImages}">-->
<!--                <p th:text="${image.url}"></p>-->
<!--            </div>-->

<!--            <button th:data="${post.id} + ',' + ${sessionUserId}" class="like-btn btn btn-secondary">Like Post</button>-->

<!--            <hr>-->
<!--        </div>-->
    </div>

    <div th:if="${following.size() > 0}">
        <div th:text="'Following: ' + ${following.size()}"></div>
        <div th:each="following : ${following}">
            <p th:text="${following.username}"></p>
        </div>
    </div>

</div>

<footer th:replace="partials/partials.html :: footer"></footer>
<div th:replace="partials/partials.html :: scripts"></div>

</body>
</html>