<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head (title)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5c1e7c5892.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/searchResults.css}">


    <link rel="stylesheet" th:href="@{/css/navbar.css}">

    <link rel="stylesheet" th:href="@{/css/connections.css}">

</head>
<body>

<link th:fragment="search-style" rel="stylesheet" th:href="@{/css/searchResults.css}">

<div th:fragment="scripts">
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/keys.js"></script>
<!--    <script src="/keys"></script>-->
    <script src="/js/fetch.js"></script>
    <script src="/js/filestack.js"></script>
    <script src="/js/rawg.js"></script>
    <!--    <script src="/js/main.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</div>

<!--NAVBAR-->
<!--<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--    <div class="container-fluid">-->

<!--        &lt;!&ndash;HOME&ndash;&gt;-->
<!--        <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/main">Home</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->

<!--                &lt;!&ndash;DISCOVER&ndash;&gt;-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/discover">Discover</a>-->
<!--                </li>-->

<!--                &lt;!&ndash;VIEW YOUR PROFILE&ndash;&gt;-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>-->
<!--                </li>-->

<!--                &lt;!&ndash; MY CONNECTIONS&ndash;&gt;-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" aria-current="page" href="/connections">My Connections</a>-->
<!--                </li>-->

<!--                &lt;!&ndash; FAVORITE GAMES&ndash;&gt;-->
<!--                <li sec:authorize="isAuthenticated()" class="nav-item">-->
<!--                    <a class="nav-link" aria-current="page" href="/game/favorites">Favorite Games</a>-->
<!--                </li>-->

<!--                &lt;!&ndash;CREATE&ndash;&gt;-->
<!--                &lt;!&ndash;                <li class="nav-item">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a class="nav-link" href="/posts/create">Create</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </li>&ndash;&gt;-->

<!--                &lt;!&ndash;DROPDOWN&ndash;&gt;-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Dropdown-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li sec:authorize="!isAuthenticated()">-->
<!--                            <a class="dropdown-item" href="/user/register">Sign Up</a>-->
<!--                        </li>-->
<!--                        &lt;!&ndash;                        <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--                        <li sec:authorize="!isAuthenticated()">-->
<!--                            &lt;!&ndash;                            <form th:action="@{/login}" th:method="POST">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <button class="btn-link dropdown-item" style="margin-top: 8px">Login</button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </form>&ndash;&gt;-->
<!--                            <a class="dropdown-item" href="/login">Login</a>-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAuthenticated()">-->
<!--                            <a class="dropdown-item" href="/user/account">Account Details</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
<!--                        <li sec:authorize="isAuthenticated()">-->
<!--                            &lt;!&ndash;                            <form th:action="@{/logout}" th:method="POST">&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <button class="btn-link dropdown-item" style="margin-top: 8px">Logout</button>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </form>&ndash;&gt;-->
<!--                            <form th:action="@{/logout}" th:method="post" id="logout-form">-->
<!--                                <a onclick="document.getElementById('logout-form').submit();" class="dropdown-item">Logout</a>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--            this is our search bar that utilizes the rawg.js file and keys.js this search bar will only work if those 2-->
<!--            files are linked-->
<!--            <form class="d-flex">-->
<!--                <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"-->
<!--                       name="search">-->
<!--                &lt;!&ndash;                <input type="hidden" value="" name="title">&ndash;&gt;-->
<!--                <button id="submit-btn" class="btn btn-outline-light" type="submit">Search</button>-->
<!--            </form>-->
<!--            <div class="search d-flex">-->
<!--                <input id="search" type="text" class="form-control" placeholder="Search Games">-->
<!--                <button id="submit-btn" class="btn btn-outline-light"><i class="fa fa-search"></i></button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--NAVBAR-->

<!--FOOTER-->
<footer id="footer" th:fragment="footer" class="text-center text-white mt-5 pt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 gradient-custom">
        © 2020 Copyright:
        <a class="text-white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">LOL</a>
    </div>
    <!-- Copyright -->
</footer>
<!--FOOTER-->
</body>
</html>


<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark gradient-custom">
    <div class="container-fluid">

        <!--HOME-->
        <a sec:authorize="isAuthenticated()" class="navbar-brand" href="/main"><img class="nav-logo"
                                                                                    src="https://cdn.discordapp.com/attachments/949839896883916830/987392552141467718/Untitled_58.gif"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" aria-current="page" href="/discover">
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                        </div>
                        Discover
                    </a>
                </li>
                <!-- MY CONNECTIONS-->
                <li sec:authorize="isAuthenticated()" class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" aria-current="page" href="/connections">
                        <div>
                            <i class="bi bi-diagram-3"></i>
                        </div>
                        Connections
                    </a>
                </li>

                <!-- FAVORITE GAMES-->
                <li sec:authorize="isAuthenticated()" class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" aria-current="page" href="/game/favorites">
                        <div>
                            <i class="bi bi-controller"></i>
                        </div>
                        Favorite Games
                    </a>
                </li>

                <!--CREATE-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="/posts/create">Create</a>-->
                <!--                </li>-->

                <!--DROPDOWN-->
                <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="false" href="/"
                       id="navbarDropdown" role="button">
                        <div>
                            <i class="bi bi-person-circle"></i>
                        </div>
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                        style="background-color: #333333;">
                        <li sec:authorize="!isAuthenticated()">
                            <a style="color: white" class="dropdown-item" href="/user/register">Sign Up</a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <a style="color: white" class="dropdown-item" href="/login">Login</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a style="color: white" class="dropdown-item" href="/user/profile">Profile</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a style="color: white" class="dropdown-item" href="/user/account">Account Details</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" th:method="post" id="logout-form">
                                <a onclick="document.getElementById('logout-form').submit();" class="dropdown-item">Logout</a>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--            this is our search bar that utilizes the rawg.js file and keys.js this search bar will only work if those 2-->
            <!--            files are linked-->
            <div class="search d-flex">
                <input id="search" type="search" class="form-control" placeholder="Search Games">
                <button id="submit-btn" class="btn btn-outline-light"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<video th:fragment="video-bg"
       src="https://static.videezy.com/system/resources/previews/000/054/399/original/1311149_Abstract-neon-lines_HD_BG.mp4"
       muted loop
       autoplay style=" width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;"></video>