<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Edit Account')">

<body>
<nav th:replace="partials/partials.html :: navbar"></nav>



<div class="container">

    <h1 style="font-weight: lighter" class="text-center my-4">Account Details</h1>



    <div class="row">
        <div class="col-sm-8">

            <div class="card">

                <div class="card-body">

                    <div class="act-input d-flex">
                        <div class="act-width w-50">
                            <div class="mobile-account-details-view my-4 mx-2">
                                <form  th:action="@{/user/edit-user}" method="POST" th:object="${user}">
                                    <label for="edit-username" class="form-label">Username</label>
                                    <div class="d-flex">
                                        <input  th:field="*{username}" type="text" class="form-control " id="edit-username">
                                        <button class="ms-2 btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="pt-1" th:if="${param.user_exists}">
                                        <p class="text-center text-danger">This username has been taken!</p>
                                    </div>
                                    <div class="pt-1" th:if="${param.user_invalid}">
                                        <p class="text-center text-danger">Username must be at least 6 characters</p>
                                    </div>
                                    <div class="pt-1" th:if="${param.user_invalid2}">
                                        <p class="text-center text-danger">Chill, username is way too long</p>
                                    </div>
                                    <div class="pt-1" th:if="${param.user_success}">
                                        <p class="text-center text-success">Username has been updated</p>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="act-width w-50">
                            <div class="mobile-account-details-view my-4 ms-3">
                                <form  th:action="@{/user/edit-email}" method="POST" th:object="${user}">
                                    <label for="edit-email" class="form-label">Email</label>
                                    <div class="d-flex">
                                        <input  th:field="*{email}" type="email" class="form-control " id="edit-email">
                                        <button class="ms-2 btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="pt-1" th:if="${param.email_exists}">
                                        <p class="text-center text-danger">This email has been taken!</p>
                                    </div>
                                    <div class="pt-1" th:if="${param.email_success}">
                                        <p class="text-center text-success">Email has been updated</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <div class="act-input d-flex">
                        <div class="act-width w-50">
                            <div class="mobile-account-details-view my-4 mx-2">
                                <form th:action="@{/user/edit-firstname}" method="POST" th:object="${user}">
                                    <label for="edit-firstname" class="form-label">First Name</label>
                                    <div class="d-flex">
                                        <input  th:field="*{firstName}" type="text" class="form-control " id="edit-firstname">
                                        <button class="ms-2 btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="pt-1" th:if="${param.fn_success}">
                                        <p class="text-center text-success">First name has been updated</p>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="act-width w-50 mb-3">
                            <div class="mobile-account-details-view my-4 ms-3">
                                <form th:action="@{/user/edit-lastname}" method="POST" th:object="${user}">
                                    <label for="edit-lastname" class="form-label">Last Name</label>
                                    <div class="d-flex">
                                        <input th:field="*{lastName}" type="text" class="form-control" id="edit-lastname">
                                        <button class="ms-2 btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="pt-1" th:if="${param.ln_success}">
                                        <p class="text-center text-success">Last name has been updated</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

<hr>
                    <div class=" my-5 d-flex justify-content-center">



                        <div class="card" style="width: 30rem;">
                            <div class="card-body bg-black">
                                <h4 class="card-title text-center" style="font-weight: lighter">Change Password</h4>

                                <form th:action="@{/user/edit-password}" method="POST">
                                    <div class="py-3">
                                        <label for="edit-password" class="form-label">Current Password</label>
                                        <input name="password" type="password" class="form-control" id="edit-password">
                                    </div>
                                    <div th:if="${param.ps_invalid}">
                                        <p class="text-center text-danger">Incorrect password</p>
                                    </div>
                                    <div class="py-3">
                                        <label for="new-password" class="form-label">New Password</label>
                                        <input name="new-password" type="password" class="form-control" id="new-password">
                                    </div>
                                    <div class="py-3">
                                        <label for="confirm-password" class="form-label">Confirm Password</label>
                                        <input name="confirm-password" type="password" class="form-control" id="confirm-password">
                                    </div>
                                    <div class="pb-1" th:if="${param.ps_error}">
                                        <p class="text-center text-danger">Password must be at least 6 characters</p>
                                    </div>
                                    <div class="pb-1" th:if="${param.ps_match_error}">
                                        <p class="text-center text-danger">Passwords do not match!</p>
                                    </div>
                                    <div class="mt-4 d-flex justify-content-center">
                                        <button class="ms-2 btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="pt-3" th:if="${param.ps_success}">
                                        <p class="text-center text-success">Password has been updated</p>
                                    </div>

                                </form>


                            </div>
                        </div>



                    </div>



<!--                    <blockquote class="blockquote mb-0">-->
<!--                        <p>A well-known quote, contained in a blockquote element.</p>-->
<!--                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
<!--                    </blockquote>-->


                </div>
            </div>






        </div>

        <div class="col-sm-4">


            <div th:if="${user.getLinks() == null}">
                <form action="/user/create-platform-links" method="POST" th:object="${links}">
                    <div class="card links-card w-100">
<!--                        <div class="card links-card" style="width: 22rem; height: 40rem">-->
                        <div class="card-body">
                            <h4 style="font-weight: lighter" class="card-title d-flex justify-content-center mt-3">Platform Links</h4>

                            <!--DISCORD-->
                            <div class="links-input py-2 mx-2">
                                <label for="discord" class="form-label">Discord</label>
                                <input type="text" class="form-control" id="discord" th:field="*{discord}">
                                <div class="pt-1" th:if="${param.discord}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>

                            <div class="links-input py-2 mx-2">
                                <label for="nintendo" class="form-label">Nintendo</label>
                                <input type="text" class="form-control" id="nintendo" th:field="*{nintendo}">
                                <div class="pt-1" th:if="${param.nintendo}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>

                            <div class="links-input py-2 mx-2">
                                <label for="playstation" class="form-label">Playstation</label>
                                <input type="text" class="form-control" id="playstation" th:field="*{playstation}">
                                <div class="pt-1" th:if="${param.playstation}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>

                            <div class="links-input py-2 mx-2">
                                <label for="twitch" class="form-label">Twitch</label>
                                <input type="text" class="form-control" id="twitch" th:field="*{twitch}">
                                <div class="pt-1" th:if="${param.twitch}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>

                            <div class="links-input py-2 mx-2">
                                <label for="xbox" class="form-label">Xbox</label>
                                <input type="text" class="form-control" id="xbox" th:field="*{xbox}">
                                <div class="pt-1" th:if="${param.xbox}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>

                            <div class="links-input py-2 mx-2">
                                <label for="youtube" class="form-label">Youtube</label>
                                <input type="text" class="form-control" id="youtube" th:field="*{youtube}">
                                <div class="pt-1" th:if="${param.youtube}">
                                    <p class="text-center text-danger">Chill, handle is way too long</p>
                                </div>
                            </div>


                            <!--UPDATE LINKS BUTTON-->
                            <div class="d-flex justify-content-center mt-5">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <button type="submit" class="btn btn-outline-light">Update Links</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


                <div th:if="${user.getLinks() != null}">
                    <form action="/user/create-platform-links" method="POST" th:object="${existingLinks}">
                        <div class="card links-card w-100">
<!--                        <div class="card links-card" style="width: 22rem; height: 46rem">-->
                            <div class="card-body">
                                <h4 style="font-weight: lighter" class="card-title d-flex justify-content-center mt-4 ">Platform Links</h4>

                                <!--DISCORD-->
                                <div class="links-input pb-2 pt-3 mx-2">
                                    <label for="discord" class="form-label">Discord</label>
                                    <input type="text" class="form-control" id="discord" th:field="*{discord}">
                                    <div class="pt-1" th:if="${param.discord}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>

                                <div class="links-input py-2 mx-2">
                                    <label for="nintendo" class="form-label">Nintendo</label>
                                    <input type="text" class="form-control" id="nintendo" th:field="*{nintendo}">
                                    <div class="pt-1" th:if="${param.nintendo}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>

                                <div class="links-input py-2 mx-2">
                                    <label for="playstation" class="form-label">Playstation</label>
                                    <input type="text" class="form-control" id="playstation" th:field="*{playstation}">
                                    <div class="pt-1" th:if="${param.playstation}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>

                                <div class="links-input py-2 mx-2">
                                    <label for="twitch" class="form-label">Twitch</label>
                                    <input type="text" class="form-control" id="twitch" th:field="*{twitch}">
                                    <div class="pt-1" th:if="${param.twitch}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>

                                <div class="links-input py-2 mx-2">
                                    <label for="xbox" class="form-label">Xbox</label>
                                    <input type="text" class="form-control" id="xbox" th:field="*{xbox}">
                                    <div class="pt-1" th:if="${param.xbox}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>

                                <div class="links-input pt-2 pb-4 mx-2">
                                    <label for="youtube" class="form-label">Youtube</label>
                                    <input type="text" class="form-control" id="youtube" th:field="*{youtube}">
                                    <div class="pt-1" th:if="${param.youtube}">
                                        <p class="text-center text-danger">Chill, handle is way too long</p>
                                    </div>
                                </div>


                                <!--UPDATE LINKS BUTTON-->
                                <div class="d-flex justify-content-center mt-5 pb-3">
                                    <input type="hidden" name="id" th:value="${user.id}">
                                    <button type="submit" class="btn btn-outline-light">Update Links</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>













        </div>
    </div>



</div>



</body>















<!--<body class="ACCbody">-->
<!--<nav th:replace="partials/partials.html :: navbar"></nav>-->

<!--UPDATE ACCOUNT SETTINGS-->
<!--<div class="d-flex flex-wrap ms-5">-->


<!--    <div class="d-flex justify-content-center mt-5 col-md-6">-->
<!--        <form th:action="@{/user/edit-user}" method="POST" th:object="${user}">-->
<!--            <div class="card " style="width: 22rem; height: 29rem">-->
<!--                <div class="card-body d-flex flex-column justify-content-center">-->
<!--                    <h4 style="font-weight: lighter" class="card-title d-flex justify-content-center">Account Settings</h4>-->

<!--                    &lt;!&ndash;CURRENT USERNAME&ndash;&gt;-->
<!--                    <div class="mb-2 mx-2">-->
<!--                        <label for="edit-username" class="form-label"></label>-->
<!--                        <input th:field="*{username}" type="text" class="form-control " id="edit-username" placeholder="New Username" name="username">-->
<!--                    </div>-->

<!--                    &lt;!&ndash;CURRENT EMAIL&ndash;&gt;-->
<!--                    <div class=" mx-2">-->
<!--                        <label for="edit-email" class="form-label"></label>-->
<!--                        <input th:field="*{email}" type="email" class="form-control" id="edit-email" placeholder="New Email Address" name="email">-->
<!--                    </div>-->

<!--                    &lt;!&ndash;CURRENT PASSWORD&ndash;&gt;-->
<!--                    <div class="mb-2 mx-2">-->
<!--                        <label for="password" class="form-label"></label>-->
<!--                        <input type="password" class="form-control" id="password" placeholder="Current Password" name="oldPassword">-->
<!--                    </div>-->

<!--                    &lt;!&ndash;NEW PASSWORD&ndash;&gt;-->
<!--                    <div class="mb-5 mx-2">-->
<!--                        <label for="update-password" class="form-label"></label>-->
<!--                        <input type="password" class="form-control" id="update-password" placeholder="New Password" name="newPassword">-->
<!--                    </div>-->

<!--                    &lt;!&ndash;UPDATE INFO BUTTON&ndash;&gt;-->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <input type="hidden" name="id" th:value="${user.id}">-->
<!--                        <input type="submit" value="Update Info" class="btn btn-dark w-50 border border-2 border-white">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--    &lt;!&ndash;PLATFORM LINKS&ndash;&gt;-->
<!--    <div class="col-md-6 mt-5">-->
<!--        <div th:if="${user.getLinks() == null}">-->
<!--            <form action="/user/create-platform-links" method="POST" th:object="${links}">-->
<!--                <div class="card " style="width: 22rem; height: 40rem">-->
<!--                    <div class="card-body">-->
<!--                        <h4 style="font-weight: lighter" class="card-title d-flex justify-content-center">Platform Links</h4>-->

<!--                        &lt;!&ndash;DISCORD&ndash;&gt;-->
<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="discord" class="form-label">Discord</label>-->
<!--                            <input type="text" class="form-control" id="discord" th:field="*{discord}">-->
<!--                        </div>-->

<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="nintendo" class="form-label">Nintendo</label>-->
<!--                            <input type="text" class="form-control" id="nintendo" th:field="*{nintendo}">-->
<!--                        </div>-->

<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="playstation" class="form-label">Playstation</label>-->
<!--                            <input type="text" class="form-control" id="playstation" th:field="*{playstation}">-->
<!--                        </div>-->

<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="twitch" class="form-label">Twitch</label>-->
<!--                            <input type="text" class="form-control" id="twitch" th:field="*{twitch}">-->
<!--                        </div>-->

<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="xbox" class="form-label">Xbox</label>-->
<!--                            <input type="text" class="form-control" id="xbox" th:field="*{xbox}">-->
<!--                        </div>-->

<!--                        <div class="mb-2 mx-2">-->
<!--                            <label for="youtube" class="form-label">Youtube</label>-->
<!--                            <input type="text" class="form-control" id="youtube" th:field="*{youtube}">-->
<!--                        </div>-->


<!--                        &lt;!&ndash;UPDATE LINKS BUTTON&ndash;&gt;-->
<!--                        <div class="d-flex justify-content-center mt-5">-->
<!--                            <input type="hidden" name="id" th:value="${user.id}">-->
<!--                            <input type="submit" value="Update Links" class="btn btn-dark w-50 border border-2 border-white">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->

<!--            <div class="col-md-6">-->
<!--                <div th:if="${user.getLinks() != null}">-->
<!--                    <form action="/user/create-platform-links" method="POST" th:object="${existingLinks}">-->
<!--                        <div class="card " style="width: 22rem; height: 40rem">-->
<!--                            <div class="card-body">-->
<!--                                <h4 style="font-weight: lighter" class="card-title d-flex justify-content-center">Platform Links</h4>-->

<!--                                &lt;!&ndash;DISCORD&ndash;&gt;-->
<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="discord" class="form-label">Discord</label>-->
<!--                                    <input type="text" class="form-control" id="discord" th:field="*{discord}">-->
<!--                                </div>-->

<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="nintendo" class="form-label">Nintendo</label>-->
<!--                                    <input type="text" class="form-control" id="nintendo" th:field="*{nintendo}">-->
<!--                                </div>-->

<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="playstation" class="form-label">Playstation</label>-->
<!--                                    <input type="text" class="form-control" id="playstation" th:field="*{playstation}">-->
<!--                                </div>-->

<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="twitch" class="form-label">Twitch</label>-->
<!--                                    <input type="text" class="form-control" id="twitch" th:field="*{twitch}">-->
<!--                                </div>-->

<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="xbox" class="form-label">Xbox</label>-->
<!--                                    <input type="text" class="form-control" id="xbox" th:field="*{xbox}">-->
<!--                                </div>-->

<!--                                <div class="mb-2 mx-2">-->
<!--                                    <label for="youtube" class="form-label">Youtube</label>-->
<!--                                    <input type="text" class="form-control" id="youtube" th:field="*{youtube}">-->
<!--                                </div>-->


<!--                                &lt;!&ndash;UPDATE LINKS BUTTON&ndash;&gt;-->
<!--                                <div class="d-flex justify-content-center mt-5">-->
<!--                                    <input type="hidden" name="id" th:value="${user.id}">-->
<!--                                    <input type="submit" value="Update Links" class="btn btn-dark w-50 border border-2 border-white">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


























<!--&lt;!&ndash;    edit username/email form&ndash;&gt;-->
<!--<div class="d-flex flex-wrap mb-5">-->
<!--    <div class="col-md-6">-->
<!--        <form th:action="@{/user/edit-user}" method="POST" th:object="${user}">-->
<!--            <h1 class="ACCh1 d-flex justify-content-center mt-5 ms-5">Account Settings</h1>-->
<!--            <p class="ACCp d-flex justify-content-center ms-5">Manage the account details you've shared with Gamer Haven.</p><br>-->

<!--            &lt;!&ndash;NEW USERNAME&ndash;&gt;-->
<!--            <div class="d-flex justify-content-center ms-5">-->
<!--                <div class="mb-3 w-50 pe-3">-->
<!--                    <label for="edit-username" class="form-label"></label>-->
<!--                    <input th:field="*{username}" type="text" class="form-control " id="edit-username" placeholder="New Username" name="username">-->
<!--                </div>-->
<!--&lt;!&ndash;                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>&ndash;&gt;-->

<!--                &lt;!&ndash;NEW EMAIL ADDRESS&ndash;&gt;-->
<!--                <div class="mb-3 w-50 ps-3">-->
<!--                    <label for="edit-email" class="form-label"></label>-->
<!--                    <input th:field="*{email}" type="email" class="form-control" id="edit-email" placeholder="New Email Address" name="email">-->
<!--                </div>-->
<!--&lt;!&ndash;                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>&ndash;&gt;-->
<!--            </div>-->

<!--            &lt;!&ndash;UPDATE INFO BUTTON&ndash;&gt;-->
<!--            <div class="d-flex justify-content-center ms-5">-->
<!--                <input type="hidden" name="id" th:value="${user.id}">-->
<!--                <input type="submit" value="Update Info" class="btn btn-dark w-50 border border-2 border-white">-->
<!--            </div>-->
<!--        </form>-->
<!--        &lt;!&ndash;    end edit username/email form&ndash;&gt;-->

<!--        &lt;!&ndash;    edit password form&ndash;&gt;-->
<!--        <div id="errormsg" style="display:none"></div>-->
<!--        <form action="/user/edit-password" method="POST">-->

<!--            &lt;!&ndash;CURRENT PASSWORD&ndash;&gt;-->
<!--            <div class="d-flex justify-content-center ms-5 mt-5">-->
<!--                <div class="mb-3 w-50 pe-3">-->
<!--                    <label for="password" class="form-label"></label>-->
<!--                    <input type="password" class="form-control" id="password" placeholder="Current Password" name="oldPassword">-->
<!--                </div>-->

<!--                &lt;!&ndash;NEW PASSWORD&ndash;&gt;-->
<!--                <div class="mb-3 w-50 ps-3">-->
<!--                    <label for="update-password" class="form-label"></label>-->
<!--                    <input type="password" class="form-control" id="update-password" placeholder="New Password" name="newPassword">-->
<!--                </div>-->
<!--                <span id="error" style="display:none">Password mismatch</span>-->
<!--            </div>-->

<!--            &lt;!&ndash;UPDATE PASSWORD BUTTON&ndash;&gt;-->
<!--            <div class="d-flex justify-content-center mb-5 ms-5">-->
<!--                <input type="hidden" name="id" th:value="${user.id}">-->
<!--                <input type="submit" value="Update Password" class="btn btn-dark w-50 border border-2 border-white">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->


<!--    <div class="col-md-6 mb-5 ">-->
<!--        <div th:if="${user.getLinks() == null}">-->
<!--            <div class="d-flex justify-content-center mt-5">-->
<!--                <form action="/user/create-platform-links" method="POST" th:object="${links}">-->
<!--                    <h2>Platform Links</h2><br>-->
<!--                    <p>Add your platform links here</p>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="discord" class="form-label">Discord</label>-->
<!--                        <input type="text" class="form-control" id="discord" th:field="*{discord}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="nintendo" class="form-label">Nintendo</label>-->
<!--                        <input type="text" class="form-control" id="nintendo" th:field="*{nintendo}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="playstation" class="form-label">Playstation</label>-->
<!--                        <input type="text" class="form-control" id="playstation" th:field="*{playstation}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="twitch" class="form-label">Twitch</label>-->
<!--                        <input type="text" class="form-control" id="twitch" th:field="*{twitch}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="xbox" class="form-label">Xbox</label>-->
<!--                        <input type="text" class="form-control" id="xbox" th:field="*{xbox}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="youtube" class="form-label">Youtube</label>-->
<!--                        <input type="text" class="form-control" id="youtube" th:field="*{youtube}">-->
<!--                    </div>-->
<!--                    <input type="hidden" name="id" th:value="${user.id}">-->
<!--                    <input type="submit" value="Save Links" class="btn btn-dark w-100 border border-2 border-white">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->






<!--        <div class="d-flex justify-content-center mt-5 col-md-12 mb-5">-->
<!--            <div th:if="${user.getLinks() != null}">-->
<!--                <form action="/user/edit-platform-links" method="POST" th:object="${existingLinks}">-->
<!--                    <h2>Platform Links</h2><br>-->
<!--                    <p>Edit your platform links here</p>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="discord2" class="form-label">Discord</label>-->
<!--                        <input type="text" class="form-control" id="discord2" th:field="*{discord}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="nintendo2" class="form-label">Nintendo</label>-->
<!--                        <input type="text" class="form-control" id="nintendo2" th:field="*{nintendo}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="playstation2" class="form-label">Playstation</label>-->
<!--                        <input type="text" class="form-control" id="playstation2" th:field="*{playstation}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="twitch2" class="form-label">Twitch</label>-->
<!--                        <input type="text" class="form-control" id="twitch2" th:field="*{twitch}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="xbox2" class="form-label">Xbox</label>-->
<!--                        <input type="text" class="form-control" id="xbox2" th:field="*{xbox}">-->
<!--                    </div>-->
<!--                    <div class="mb-3 w-100">-->
<!--                        <label for="youtube2" class="form-label">Youtube</label>-->
<!--                        <input type="text" class="form-control" id="youtube2" th:field="*{youtube}">-->
<!--                    </div>-->
<!--                    <input type="hidden" name="id" th:value="${user.id}">-->
<!--                    <input type="submit" value="Save Links" class="btn btn-dark w-100 border border-2 border-white">-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--footer and JS partials needed on every page-->
<footer th:replace="partials/partials.html :: footer"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>