<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('View Profile')">
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

<div th:if="${user}">
    <p th:text="${user.username} + ' is logged in'"></p>

    <div>
        <img th:src="${user.profilePictureUrl}" alt="profile-picture">
    </div>

    <hr>

    <div>
        <p th:text="'Followers: ' + ${user.followers.size()}"></p>
        <div th:each="follower : ${user.followers}">
            <p th:text="${follower.username}"></p>
        </div>
    </div>

    <hr>

    <div>
        <p th:text="'Favorite Games: ' + ${user.favoriteGames.size()}"></p>
        <div th:each="game : ${user.favoriteGames}">
            <div th:text="${game.title}"></div>
        </div>
    </div>

    <hr>

    <p th:text="'Discord: ' + ${user.links.discord}"></p>
    <p th:text="'Nintendo: ' + ${user.links.nintendo}"></p>
    <p th:text="'Playstation: ' + ${user.links.playstation}"></p>
    <p th:text="'Twitch: ' + ${user.links.twitch}"></p>
    <p th:text="'Xbox: ' + ${user.links.xbox}"></p>
    <p th:text="'YouTube: ' + ${user.links.youtube}"></p>

    <hr>

    <div th:each="post : ${post}">
        <p th:text="'Post #' + ${post.id}"></p>
        <p th:text="${post.date}"></p>
        <p th:text="${post.body}"></p>
        <p th:text="'Likes: ' + ${post.usersThatLiked.size()}"></p>

        <div th:each="image : ${post.postImages}">
<!--            <div th:text="${image.title}"></div>-->
            <p th:text="${image.url}"></p>
        </div>

        <hr>

    </div>
</div>

<footer th:replace="partials/partials.html :: footer"></footer>
</body>
</html>