<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('Register')">
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--<form th:action="@{/user/register}" method="POST" th:object="${user}">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" th:field="*{username}" />-->

<!--    <label for="email">Email</label>-->
<!--    <input id="email" th:field="*{email}" />-->

<!--    <label for="password">Password</label>-->
<!--    <input id="password" type="password" th:field="*{password}" />-->

<!--    <input value="Sign me up!" type="submit" />-->
<!--</form>-->
<h1>Create Account</h1>

<form th:action="@{/user/register}" method="POST" th:object="${user}">
    <div class="mb-3 w-25">
        <label for="username" class="form-label"></label>
        <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
    </div>
    <div class="mb-3 w-25">
        <label for="email" class="form-label"></label>
        <input type="email" class="form-control" id="email" placeholder="Email Address" th:field="*{email}">
    </div>
    <div class="mb-3 w-25">
        <label for="password" class="form-label"></label>
        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
    </div>
    <button type="submit" class="btn btn-dark w-25">Submit</button>
</form>


<!--footer and JS partials needed on every page-->
<footer th:replace="partials/partials.html :: footer"></footer>
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>