<!DOCTYPE html>

<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('403')">
<body>

<div>
    <h1 class="ms-4 mt-3">403 Error</h1>
</div>


<div class="d-flex ms-5 mt-3 justify-content-center">
    <h2>
        We're sorry, the page you are looking for does not exist!<br>
        Go back to the <a href="/">Home Page</a>.
    </h2>
</div>

<div class="d-flex justify-content-center mt-5">
    <img src="https://cdn.discordapp.com/attachments/976137842860384327/987087918734659634/konami-lg.gif" width="900"
         height="600">
</div>

</body>
</html>