<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('404')">
<body>

<h1 class="mt-3 ms-3">404 Error</h1>

    <div class="d-flex ms-5 mt-3">
        <h2>
            We're sorry, the page you are looking for does not exist!<br>
            Go back to the <a href="/">Home Page</a>.
        </h2>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <img src="https://cdn.discordapp.com/attachments/976137842860384327/987087918734659634/konami-lg.gif" width="1000"
             height="800">
    </div>
</body>
</html>