.profile-pic-c{
    object-fit: cover;
    height: 100px;
    width:100px;
    border-radius: 50%
}

.profile-name-c{
    text-align: center;
    padding-left: 5px;
    padding-top: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.flexy{
    display: flex;
    flex-wrap: wrap;
}

h3{
    padding-top: 5px;
    padding-left: 8px;
}