.profile-pic-c{
    object-fit: cover;
    height: 100px;
    width:100px;
    border-radius: 50%
}

.profile-name-c{
    color: whitesmoke;
    text-decoration: none;
}

.flexy{
    display: flex;
    flex-wrap: wrap;
}

h3{
    padding-top: 5px;
    padding-left: 8px;
}


.app_page1 {
    margin: 0;
    overflow: hidden;
    height:100%;
}

@media (min-width: 768px){
    #left {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        width: 15%;
        overflow-y: scroll;
    }

    #middle {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 15%;
        width: 15%;
        overflow-y: scroll;
    }

    #right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        width: 70%;
    }
}

.discover-card{
    height: 50em;
}

.discover-title {
    font-weight: lighter;
    text-align: center;
}

.discover-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}