/*img cara is a class the carasel on the discover page*/
.img-cara {
    height: 35vw;
    width: 80vw;
}

/*this is the basic img size for all img on the site*/
img {
    /*width: 100px;*/
}

/*this is the body for all pages on site*/
body {
    background-color: #333333;
    color: white;
    position: relative;
    min-height: 100vh;
}

/*this is the class for the post images that will go on all post*/
.post-img {
    width: 30vw;
    height: 20vw;
}

/*this is for the cards on the post subject to change*/
.card {
    background-color: rgb(38, 37, 37);
    color: white;
}

.full-game-img {
    width: 100%;

}

.ACCh1 {
    color: white;
}

.ACCbody {
    background-color: #333333;
}

.ACCp {
    color: white;
= = = = = = =
    /*width: 100px;*/
}

/*this is the body for all pages on site*/
body {
    background-color: #333333;
    color: white;
}

/*this is the class for the post images that will go on all post*/
.post-img {
    width: 30vw;
    height: 20vw;
}

/*this is for the cards on the post subject to change*/

/*.full-game-img {*/
/*    width: 70vw;*/
/*    height: 40vw;*/

/*}*/


.panel, .flip {
    padding: 5px;
    text-align: left;

}

.panel {
    padding: 50px;
    display: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Footer height */
}


.game-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.favorite-icon {

}

/**{*/
/*    font-family: Goldplay, serif;*/
/*}*/

/*EDIT POST VIEW*/
.edit-post-body {
    width: 50vw;
}

.x-btn {

}

.game-tags {
    padding-left: 10px;
    font-weight: lighter;
}