
/*.profile-picture-container {*/


/*}*/

.profile-picture {
    object-fit: cover;
    height: 180px;
    width:180px;
    border-radius: 50%;
}

/*.profile-picture-container {*/

/*    position: relative;*/
/*    bottom: 5em;*/
/*}*/

.profile-banner {
    object-fit: cover;
    height: 396px;
    width:100%;
}

/*!*button*!*/
/*.change-banner-btn {*/

/*    position: relative;*/
/*    bottom: 3em;*/
/*    left: 2em;*/
/*    width: 40px;*/
/*    height: 33px;*/
/*    font-size: 15px;*/
/*    opacity: 80%;*/

/*}*/

/*!*button*!*/
/*.change-profile-pic-btn {*/

/*    position: relative;*/
/*    right: 2em;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    font-size: 15px;*/
/*    opacity: 80%;*/
/*}*/

/*.user-info {*/


/*}*/

/*.top-profile {*/

/*}*/

.profile-username {

    /*position: relative;*/
    /*bottom: 1.5em;*/
    /*left: 15px;*/
    font-size: 50px;
}

.profile-follower {

    font-size: 25px;


}

.profile-following {

    font-size: 25px;

}

.profile-bio {
    /*position: relative;*/
    /*top: 10px;*/
    /*max-width: 70%;*/

}
.profile-follower-picture {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
}

.profile-following-picture {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
}

.profile-game-picture {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: all .2s ease-in-out;
}

/*.profile-links {*/

/*    padding-top: 40px;*/
/*    max-width: 30%;*/


/*}*/

/*.pro-links-header {*/
/*    width: 80%;*/
/*}*/

.links-text {
    font-weight: lighter;
    font-size: 14px;
    word-break: break-all;
}

.pro-icon {
    width: 16px!important;
    height: 20px!important;
    margin-right: 20px;
}

.pro-links {
    margin-bottom: 10px;
}
.pro-links-body {

    width: 100%;
    display: flex;
    flex-direction: row;
}

.custom-width {
    width: 120px;
}



/*.null-bio {*/
/*   margin-left: 20px;*/
/*}*/

/*.bio-card-body {*/
/*    width: 534px;*/

/*}*/

.main-feed-username {
    /*position: relative;*/
    /*right: 1.5em;*/
}




.profile-follower-picture:hover {
    transform: scale(1.2);
    z-index: +1;
}


.profile-following-picture:hover {
    transform: scale(1.2);
    z-index: +1;
}

.profile-game-picture:hover {
    transform: scale(1.2);
    z-index: +1;
}

/*.profile-following-btn {*/
/*    position: relative;*/
/*    bottom: 30px;*/
/*    left: 10px;*/
/*}*/

.btn-purple {
    background: rebeccapurple;
    color: white;
}

.overflow-scrolly {
    /*-ms-overflow-style: none;*/
    /*scrollbar-width: none;*/
    overflow-x: scroll!important;
}


.profile-picture-container {
    transform: translateY(-85px);
}
.profile-username {
    transform: translateY(-85px);
    width: 100%;
    text-align: center;

}
.profile-gamer-links-container {


}

.profile-links-card-content{
    width: 14em;
}
.change-profile-pic-btn {
    position: relative;
    top: 50px;
    right: 20px;
    padding-right: 8px;
    opacity: 80%;
    width: 42px;
}
.profile-bio-card-container {
    /*transform: translateY(25px);*/
}
.change-banner-btn {
    position: relative;
    bottom: 40px;
    right: 2px;

}
.change-banner-btn-btn {

}
.blank-banner-btn {
    height: 35px;

}


.banner-container {
    z-index: -1;
}
.mobile-spacing {
    display: none;
}
.profile-following-btn {
    position: relative;
    bottom: 20px;
}



/*MOBILE VIEW*/


@media screen and (max-width: 576px) {

    .profile-links-card-content{
        width: 100%;
    }
    .pro-links-body {

        width: 50%;
    }

    .mobile-spacing {
        height: 15px
    }

    .profile-following-btn {
        margin-top: 25px;
        position: revert;
        display: flex;
        justify-content: center;
        height: 50px;
    }

    .blank-banner-btn {
        display: none;

    }

    .change-banner-btn {
        position: revert;
        transform: translateY(-40px) translateX(-2px);
    }

    /*.banner-container {*/
    /*    width: 100%;*/
    /*    height: 5px;*/
    /*}*/

    .profile-banner {
        height: 250px!important;
    }

    .profile-picture {
        height: 150px;
        width: 150px;
    }

    .profile-picture-container {
        border: solid whitesmoke 5px;
        border-radius: 50%;
        /*bottom: 2em!important;*/
        transform: translateY(-50px);

    }

    .profile-username {
        transform: translateY(-50px);
        /*position: revert;*/
        /*bottom: 1em;*/
        font-size: 29px;
        width: 100%;
        text-align: center;

    }

    .profile-gamer-links-container {
        transform: translateY(-25px);
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px;


    }
    .profile-bio-card-container {
        transform: translateY(-5px);
    }

    /*.change-profile-pic-btn {*/
    /*    position: relative;*/
    /*    top: 40px;*/
    /*    right: 10px;*/
    /*    padding-right: 8px;*/
    /*    opacity: 80%;*/
    /*}*/

    .profile-bio-card-container {

        width: 100%;
    }

/*    .profile-bio-container {*/
/*        !*flex-wrap: nowrap!important;*!*/
/*        !*flex: none!important;*!*/

/*    }*/
/*    .change-banner-btn {*/
/*        transform: translateY(-45px) translateX(-7px);*/
/*        height: 0!important;*/
/*        width: 0!important;*/


/*    }*/

/*    .links-container {*/
/*        position: relative;*/
/*        top: 15em;*/
/*        right: 1em;*/
/*    }*/



/*    .profile-bio {*/
/*        margin-top: 2em;*/
/*        position: relative;*/
/*        !*width: 500px;*!*/
/*        right: 9em;*/
/*        padding-right: 21em;*/
/*    }*/

/*    .bio-card-body {*/
/*        width: 21em;*/
/*        margin-bottom: 0px;*/
/*    }*/
/*    .bio-text {*/
/*        width: 100% !important;*/
/*    }*/

    .profile-posts {
        margin: 10px!important;
        padding: 10px!important;
    }
    .flip2 {
        margin-top: 80px!important;
        font-size: 12px!important;
        width: 150px!important;
    }

    .profile-follower-picture:hover {
        transform: none!important;
        z-index: +1;
    }


    .profile-following-picture:hover {
        transform: none!important;
        z-index: +1;
    }

    .profile-game-picture:hover {
        transform: none!important;
        z-index: +1;
    }

    .profile-follower-picture {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px;
        transition: none!important;
    }

    .profile-following-picture {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px;
        transition: none!important;
    }

    .profile-game-picture {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 10px;
        margin: 10px;
        transition: none!important;
    }

    .panel-collapsed {
        margin-top: 30px!important;
    }


}

