body{
    /*background-color: red;*/
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-txt-bottom {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}


.game-title{
    cursor: pointer;
}