<!DOCTYPE html>
<html lang="en">
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="partials/partials.html :: head ('My Games')">
<body>
<nav th:replace="partials/partials.html :: navbar"></nav>
<div class="justify-content-center d-flex mt-4">
    <h1 style="font-weight: lighter">Favorite Games</h1>
</div>
<div class="justify-content-center d-flex">
    <div>
    <div class="container d-flex flex-wrap justify-content-center">
    <div th:each="game : ${games}" class="justify-content-center d-flex">

        <div class="game-card justify-content-center d-flex col">
            <div class="card fav-game-card mt-3 me-3" style="width: 18rem; height: 22rem">
                <a th:href="'/game?gameID=' + ${game.gamesApiId}">
                    <img class="card-img-top" style="height: 13rem" th:src="${game.getImageUrl()}">
                </a>
                <div class="card-body card-txt-bottom d-flex flex-column justify-content-between">
                    <h4 class="game-title" id="game-title" onclick="gameRedirect(this)" th:data-id="${game.getGamesApiId()}"><span th:text="${game.getTitle()}"></span></h4>
                        <div  th:if="${ListGameIdFavoriteByUserId.contains(game.id)}">
                            <button th:data="${game.id} + ',' + ${sessionUserId}" class="fav-btn btn btn-primary">&#11088;</button>
                        </div>
                        <div class="d-flex" th:if="${!ListGameIdFavoriteByUserId.contains(game.id)}">
                            <button th:data="${game.id} + ',' + ${sessionUserId}" class="fav-btn btn btn-secondary">&#11088;</button>
                        </div>
<!--                    </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--<footer th:replace="partials/partials.html :: footer"></footer>-->
<div th:replace="partials/partials.html :: scripts"></div>
</body>
</html>